button {
  font-size: 20px;
  border: none;
  color: inherit;
  background-color: transparent;
  padding: 30px;
}

.header-nav {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__left {
  width: 33.3%;
}

.header-nav__center {
  display: flex;
  justify-content: center;
}

.header-nav__right {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 48px;
  border-radius: 30px;
}

.back:hover {
  border: 0.5px solid gray;
}

.border-dark {
  box-shadow: 0px 5px 10px var(--border-dark), 0px 2px 4px var(--border-dark);
}

.border-light {
  box-shadow: 0 5px 10px var(--border-ligth), 0 2px 4px var(--border-ligth);
}
