.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  border-radius: 10%;
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(232, 232, 232);
  border: 1px solid var(--border-ligth);
}

.App[data-theme="dark"] {
  background-color: #191f2c;
  color: white;
  border: 1px solid #272b38;
}
