.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 100%;
  height: 70vh;
  padding-bottom: 100%;
  background-color: rgba(232, 232, 232);
  border: 1px solid var(--border-ligth);
}

.App[data-theme="dark"] {
  background-color: #191f2c;
  color: white;
  border: 1px solid #272b38;
}

.view-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.section-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  display: grid;
  grid-auto-columns: 10px;
  grid-auto-flow: column;
  grid-gap: 13px;
}

@keyframes ligth {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.section-btn button {
  width: 13px;
  height: 13px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.section-btn button:hover {
  animation: ligth 0.3s forwards;
}

.opacity {
  opacity: 0.6;
}

.clock-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clock {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.clock-box__box p {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.amPm {
  border-bottom: 1px solid white;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.second {
  letter-spacing: 0.06em;
}

.date {
  text-align: center;
  letter-spacing: 0.03em;
}
