@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  width: 650px;
  margin: 0 auto;
  padding: 0px 20px;
}

body[data-theme="dark"] {
  color: var(--body-color-dark);
  background-color: var(--body-back-dark);
}
